# compiled output
/dist
/node_modules

# Logs
*.log

# OS
.DS_Store

# Tests
/coverage

# SQLite database
*.db
*.db-wal
*.db-shm

# IDE
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env

# SonarQube
/.sonar/
